# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

In [30]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [31]:
print('geef me je geld')
print('of ik gebruik geweld,')
print('toen kwam de controle aangesneld')

geef me je geld
of ik gebruik geweld,
toen kwam de controle aangesneld

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [32]:
woord1 = 'Apenhoofd'
woord2 = 'Paardenstaart'
print(woord1)
print(woord2)

Apenhoofd
Paardenstaart

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [33]:
letter = input("A, B, C, D, ..., F, G")
print("Het was inderdaad: ")
print(letter)

Het was inderdaad:
E

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [34]:
inkomen = input()
print("Je inkomen " + inkomen + " is zeer acceptabel")

Je inkomen 2000 is zeer acceptabel

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [35]:
basis:int = input("Wat is de basis?")
hoogte:int = input("Wat is de hoogte?")
oppervlakte = 0.5 * int(basis) * int(hoogte)
print("De oppervlakte van de driehoek is: " + str(oppervlakte))

De oppervlakte van de driehoek is: 33705.0

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [36]:
leeftijd:int = input("Wat is je leeftijd?")
ouders_mee:str = input("Zijn je ouders mee? (J/N)")

ouders_mee = ouders_mee.upper()

if int(leeftijd) < 6:
    if ouders_mee == 'J':
        print("Je mag het zwembad in")
    elif ouders_mee == 'N':
        print("Je mag niet het zwembad in")
elif int(leeftijd) >= 6:
    if ouders_mee == 'J':
        print("Waarom neem je nog je ouders mee?")
    elif ouders_mee == 'N':
        print("Je mag het zwembad in als je een diploma hebt")

Waarom neem je nog je ouders mee?

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [ ]:
een:bool = input("vul in True of False")
twee:bool = input("vul in True of False")

if een == True and twee == True:
    uitkomst = True
elif een == True and twee == False:
    uitkomst = False
elif een == False and twee == True:
    uitkomst = True
elif een == False and twee == False:
    uitkomst = True

print(uitkomst)

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [38]:
def controleren(woord1:str, woord2:str):
    if woord1 == woord2:
        print("gelijk")
    else:
        print("ongelijk")

controleren("hond", "hond")
controleren("hond", "kat")

gelijk
ongelijk

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [39]:
prinsessen = {"Aurora": "Philip", "Ariël": "Eric", "Jasmine": "Aladdin", "Pocahontas": "John", "Belle": "Beast", "Tiana": "Naveen", "Mulan": "Shang"}
prinses = input()

def zoekPrins(prinses:str):
    for prinses_naam in prinsessen:
        if prinses_naam == prinses:
            print("De prins van " + prinses_naam + " is " + prinsessen[prinses_naam])
            return
    print("Naamloos")

zoekPrins(prinses)

De prins van Jasmine is Aladdin

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [40]:
def wachtwoord():
    wachtwoord1:str = input()
    wachtwoord2:str = input()
    while wachtwoord1 != wachtwoord2:
        print("Fout, probeer opnieuw!")
        wachtwoord1 = input()
        wachtwoord2 = input()
    
    print("Succes!")

wachtwoord()

Succes!

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [41]:
def tafel(getal: int):
    teller: int = 1

    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1

x: int = int(input())
tafel(x)

1 x 12 = 12
2 x 12 = 24
3 x 12 = 36
4 x 12 = 48
5 x 12 = 60
6 x 12 = 72
7 x 12 = 84
8 x 12 = 96
9 x 12 = 108
10 x 12 = 120

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [42]:
def loopje():

    aantal = 0

    for (aantal) in range(0, 11):
        print(f"huidige getal: {aantal}")
        aantal += 1

loopje()

huidige getal: 0
huidige getal: 1
huidige getal: 2
huidige getal: 3
huidige getal: 4
huidige getal: 5
huidige getal: 6
huidige getal: 7
huidige getal: 8
huidige getal: 9
huidige getal: 10

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [43]:
def checkEven():
    teller = 0
    aantal = 0
    while teller < 12:
        getal = int(input())
        if getal % 2 == 0:
            aantal += 1
        teller += 1
    
    print(f"Aantal even getallen: {aantal}")

checkEven()

Aantal even getallen: 4

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [44]:
class Kledingstuk:
    def __init__(self, merk:str, prijs:str, maat:int):
        self.merk = merk
        self.prijs = prijs
        self.maat = maat
    
class Broek(Kledingstuk):
    def __init__(self, merk:str, prijs:str, maat:int, broek_type:str):
        super().__init__(merk, prijs, maat)
        self.broek_type = broek_type
    
    def beschrijving(self):
        print(f"Deze broek is van het merk {self.merk}, kost {self.prijs} euro, heeft maat {self.maat} en is een {self.broek_type}.")
    
class Shirt(Kledingstuk):
    def __init__(self, merk:str, prijs:str, maat:int, shirt_type:str):
        super().__init__(merk, prijs, maat)
        self.shirt_type = shirt_type

    def beschrijving(self):
        print(f"Dit shirt is van het merk {self.merk}, kost {self.prijs} euro, heeft maat {self.maat} en is een {self.shirt_type}.")

class Spijkerbroek(Broek):
    def __init__(self, merk:str, prijs:str, maat:int, broek_type:str, blauwtint:str):
        super().__init__(merk, prijs, maat, broek_type)
        self.blauwtint = blauwtint
    
    def beschrijving(self):
        print(f"Deze spijkerbroek is van het merk {self.merk}, kost {self.prijs} euro, heeft maat {self.maat}, is een {self.broek_type} en heeft een blauwtint van {self.blauwtint}.")

class Poloshirt(Shirt):
    def __init__(self, merk:str, prijs:str, maat:int, shirt_type:str, kraagsoort:str):
        super().__init__(merk, prijs, maat, shirt_type)
        self.kraagsoort = kraagsoort

    def beschrijving(self):
        print(f"Dit poloshirt is van het merk {self.merk}, kost {self.prijs} euro, heeft maat {self.maat}, is een {self.shirt_type} en heeft een kraagsoort van {self.kraagsoort}.")

broek1 = Broek("Levi's", "89.99", 32, "skinny fit")
broek1.beschrijving()

shirt1 = Shirt("Nike", "49.99", 40, "T-shirt")
shirt1.beschrijving()

spijkerbroek1 = Spijkerbroek("Puma", "89.99", 36, "skinny", "lichtblauw")
spijkerbroek1.beschrijving()

poloshirt1 = Poloshirt("Ralph Lauren", "79.99", 38, "polo", "klassiek")
poloshirt1.beschrijving()

Deze broek is van het merk Levi's, kost 89.99 euro, heeft maat 32 en is een skinny fit.
Dit shirt is van het merk Nike, kost 49.99 euro, heeft maat 40 en is een T-shirt.
Deze spijkerbroek is van het merk Puma, kost 89.99 euro, heeft maat 36, is een skinny en heeft een blauwtint van lichtblauw.
Dit poloshirt is van het merk Ralph Lauren, kost 79.99 euro, heeft maat 38, is een polo en heeft een kraagsoort van klassiek.

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [45]:
mijn_lijst = ["Jelle", "Marleen", "Henk", "Fatima", "Jelle", "Henk"]

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [46]:
mijn_lijst[0] = "Sjoerd"
print(mijn_lijst[0])

Sjoerd

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [47]:
mijn_tupel = tuple(mijn_lijst)

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_tupel[5] = "Alexander"
print(mijn_tupel[5])

TypeError: 'tuple' object does not support item assignment

:

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [ ]:
dictionary = {"naam": "Jelle", "leeftijd": 30, "beroep": "Docent", "hobby": "Volleybal"}
print(dictionary["naam"], dictionary["leeftijd"], dictionary["beroep"], dictionary["hobby"])

Jelle 30 Docent Volleybal

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [ ]:
dictionary["naam"] = "Alexander"
print(dictionary["naam"], dictionary["leeftijd"], dictionary["beroep"], dictionary["hobby"])

Alexander 30 Docent Volleybal

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [ ]:
import sqlite3 as sql

conn = sql.connect("./data/go_sales.sqlite")
conn

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [ ]:
import pandas as pd

sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

#Vul dit codeblok verder in
tables = pd.read_sql_query(sql_query, conn)
tables

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [ ]:
import pandas as pd

sales_staff = pd.read_sql_query("SELECT * FROM sales_staff", conn)
sales_staff

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [ ]:
sales_staff['DATE_HIRED'] = pd.to_datetime(sales_staff['DATE_HIRED'])
sales_staff.dtypes

Als we hier het jaar uit willen halen, schrijven we:

In [ ]:
pd.DatetimeIndex(sales_staff['DATE_HIRED']).year

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [ ]:
sales_staff_codes = pd.Series(sales_staff["SALES_STAFF_CODE"])
work_phones = pd.Series(sales_staff["WORK_PHONE"])
extensions = pd.Series(sales_staff["EXTENSION"])
faxes = pd.Series(sales_staff["FAX"])
emails = pd.Series(sales_staff["EMAIL"])

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [ ]:
concatted = pd.concat([sales_staff_codes, work_phones, extensions, faxes, emails], axis=1)
concatted

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [ ]:
nieuw = concatted.head(5)
nieuw

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
nieuw["FIRST_LANGUAGE"] = "EN"
nieuw

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
nieuw["SECOND_LANGUAGE"] = {
    0: "FR",
    1: "FR",
    2: "FR",
    3: "DE",
    4: "DE"
}
nieuw

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [ ]:
nieuw["THIRD_LANGUAGE"] = pd.Series(["NL", "NL", "JPN", "JPN", "KOR"])
nieuw

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [ ]:
nieuwe_rij = {
    "SALES_STAFF_CODE": 69,
    "FIRST_NAME": ["Mark"],
    "LAST_NAME": ["Master"],
    "POSITION_EN": ["Sales Manager"],
    "WORK_PHONE": ["+33169696969"],
    "EXTENSION": [2000.0],
    "FAX": ["+33169696969"],
    "EMAIL": ["SMaster@grtd123.com"],
    "DATE_HIRED": ["2024-01-01"],
    "SALES_BRANCH_CODE": [1]
}

rij = pd.concat([sales_staff, pd.DataFrame(nieuwe_rij)], ignore_index=True)
rij

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [ ]:
rij["FULL_NAME"] = rij["FIRST_NAME"] + " " + rij["LAST_NAME"]
rij

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [ ]:
sales_staff.dtypes

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [ ]:
sales_staff["EXTENSION"] += 1
sales_staff

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [ ]:
sales_staff = sales_staff.replace("Branch Manager", "General Manager")
sales_staff

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [ ]:
sales_staff = sales_staff.rename(columns={"POSITION_EN": "POSITION"})
sales_staff

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [ ]:
sales_staff = sales_staff.drop([98,99,100])
sales_staff

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [ ]:
sales_staff = sales_staff.drop(columns=["FAX"])
sales_staff